

<footer class="site-footer">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-...." crossorigin="anonymous"/>
    <div class="wrapper">

        <div class="footer-col  footer-col-1">
            <ul class="social-media-list">
                <li>
                    <i class="fab fa fa-envelope"></i>
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </li>
                {% if site.github_username %}
                <li>
                    <i class="fab fa-github fa-lg"></i>
                    <a href="https://github.com/{{ site.github_username }}"><span class="username">{{ site.github_username }}</span></a>
                </li>
                {% endif %}
                <li>
                    <i class="fab fa-linkedin fa-lg"></i>
                    <a href="https://www.linkedin.com/in/wtwang/"><span class="username">wtwang</span></a>
                </li>
            </ul>
        </div>

        <div class="footer-col  footer-col-23">
            <p class="text">{{ site.description }}</p>
        </div>
    </div>
    </div>

</footer>
