<header class="site-header">
    <div class="container">
        <div class="header-content">
            <a class="site-title" href="{{ site.baseurl }}/">
                <span class="title-text">{{ site.title }}</span>
            </a>

            <nav class="site-nav">
                <div class="nav-menu">
                    <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
                    <a class="nav-link" href="{{ site.baseurl }}/about/">About</a>
                    <a class="nav-link" href="{{ site.baseurl }}/posts/">Posts</a>
                    <a class="nav-link" href="{{ site.baseurl }}/software/">Software</a>
                    <a class="nav-link" href="{{ site.baseurl }}/books/">Books</a>
                </div>
            </nav>
        </div>
    </div>
</header>
