---
layout: default
---

<h3>Python Implementations</h3>
<div class="list-group">
    <div class="list-group-item">
        <h4 class="list-group-item-heading">LLM Chatbot</h4>
        <p class="list-group-item-text">
            Explore the LLM Chatbot Python package, a demonstration of chatbot capabilities using LLM.</p>
        <br/>
        <ul class="list-inline">
            <li><i class="fa fa-github fa-lg"></i> <a href="https://github.com/egpivo/chatbot">GitHub</a></li>
            <li><a href="https://github.com/egpivo/chatbot/actions"><img
                    src="https://github.com/egpivo/chatbot/workflows/CI/badge.svg"/></a></li>
            <li><a href="https://codecov.io/gh/egpivo/chatbot"><img
                    src="https://codecov.io/gh/egpivo/chatbot/branch/main/graph/badge.svg"/></a></li>
        </ul>
    </div>
</div>



<h3>R Packages for Advanced Statistical Analysis</h3>

Explore these R packages designed to address specific challenges in spatial data processing and high-dimensional modeling, and diagnostics of binary classification.


<div class="list-group">
    <div class="list-group-item">
        <h4 class="list-group-item-heading"><a href="https://egpivo.github.io/SpatPCA/">SpatPCA</a></h4>
        <p class="list-group-item-text"> Simplify spatial data analysis with the `SpatPCA` package. This tool excels
            in regularized principal component analysis, enabling the identification of dominant patterns
            (eigenfunctions) characterized by smoothness and localization. It also facilitates spatial prediction
            (Kriging) for new locations, accommodating both regularly and irregularly spaced data. The package
            leverages the efficient alternating direction method of multipliers (ADMM) algorithm.
        </p>
        <ul class="list-inline">
            <li><i class="fa fa-github fa-lg"></i> <a href="https://github.com/egpivo/SpatPCA">GitHub</a></li>
            <li><a href="https://cran.rstudio.com/web/packages/SpatPCA"><img
                    src="http://www.r-pkg.org/badges/version/SpatPCA"/></a></li>
            <li><a href="https://cran.rstudio.com/web/packages/SpatPCA"><img
                    src="http://cranlogs.r-pkg.org/badges/SpatPCA"/></a></li>
            <li><a href="https://cran.rstudio.com/web/packages/SpatPCA"><img
                    src="https://cranlogs.r-pkg.org/badges/grand-total/SpatPCA"/></a></li>
            <li><a href="https://codecov.io/github/egpivo/SpatpCA?branch=master"><img
                    src="https://img.shields.io/codecov/c/github/egpivo/SpatPCA/master.svg"/></a></li>
        </ul>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <h4 class="list-group-item-heading"><a href="https://egpivo.github.io/SpatMCA/">SpatMCA</a></h4>
            <p class="list-group-item-text"> Dive into regularized maximum covariance analysis with the SpatMCA R
                package. This tool excels in identifying smooth and localized patterns that reveal the influence of
                one spatial process on another. Like SpatPCA, it accommodates both regularly and irregularly spaced
                data and employs the efficient ADMM algorithm.
            </p>
            <br/>
            <ul class="list-inline">
                <li><i class="fa fa-github fa-lg"></i> <a href="https://github.com/egpivo/SpatMCA">GitHub</a></li>
                <li><a href="https://cran.rstudio.com/web/packages/SpatMCA"><img
                        src="http://www.r-pkg.org/badges/version/SpatMCA"/></a></li>
                <li><a href="https://cran.rstudio.com/web/packages/SpatMCA"><img
                        src="http://cranlogs.r-pkg.org/badges/SpatMCA"/></a></li>
                <li><a href="https://cran.rstudio.com/web/packages/SpatMCA"><img
                        src="https://cranlogs.r-pkg.org/badges/grand-total/SpatMCA"/></a></li>
                <li><a href="https://codecov.io/github/egpivo/SpatMCA?branch=master"><img
                        src="https://img.shields.io/codecov/c/github/egpivo/SpatMCA/master.svg"/></a></li>
            </ul>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <h4 class="list-group-item-heading"><a href="https://egpivo.github.io/autoFRK/">autoFRK</a></h4>
                <p class="list-group-item-text"> The `autoFRK`, R package, built on RcppEigen, introduces automatic
                    fixed-rank
                    kriging for spatial data. It stands out for its capability to handle irregularly distributed data
                    points
                    using a set of basis functions with multi-resolution characteristics, intelligently ordered based on
                    their
                    resolutions.
                </p>
                <ul class="list-inline">
                    <li><i class="fa fa-github fa-lg"></i> <a href="https://github.com/egpivo/autoFRK">GitHub</a></li>
                    <li><a href="https://cran.rstudio.com/web/packages/autoFRK"><img
                            src="http://www.r-pkg.org/badges/version/autoFRK"/></a></li>
                    <li><a href="https://cran.rstudio.com/web/packages/autoFRK"><img
                            src="http://cranlogs.r-pkg.org/badges/autoFRK"/></a></li>
                    <li><a href="https://cran.rstudio.com/web/packages/autoFRK"><img
                            src="https://cranlogs.r-pkg.org/badges/grand-total/autoFRK"/></a></li>
                    <li><a href="https://codecov.io/github/egpivo/autoFRK?branch=master"><img
                            src="https://img.shields.io/codecov/c/github/egpivo/autoFRK/master.svg"/></a></li>
                </ul>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">influenceAUC</h4>
                    <p class="list-group-item-text"> Focused on binary classification model diagnostics, the
                        influenceAUC package is a go-to for identifying influential observations. It provides essential
                        visualization tools to enhance the understanding of model performance and diagnostic insights.
                    </p>
                    <br/>
                    <ul class="list-inline">
                        <li><i class="fa fa-github fa-lg"></i> <a href="https://github.com/BoShiangKe/influenceAUC">GitHub</a>
                        </li>
                        <li><a href="https://cran.rstudio.com/web/packages/influenceAUC"><img
                                src="http://www.r-pkg.org/badges/version/influenceAUC"/></a></li>
                        <li><a href="https://cran.rstudio.com/web/packages/influenceAUC"><img
                                src="http://cranlogs.r-pkg.org/badges/influenceAUC"/></a></li>
                        <li><a href="https://cran.rstudio.com/web/packages/influenceAUC"><img
                                src="https://cranlogs.r-pkg.org/badges/grand-total/influenceAUC"/></a></li>
                    </ul>
                </div>

                <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">QuantRegGLasso</h4>
                    <p class="list-group-item-text">
                        Designed to tackle quantile regression challenges
            through adaptively weighted group Lasso procedures. This package excels in concurrently selecting variables
            and identifying structures for varying coefficient quantile regression models. Additionally, it performs
            effectively in the context of additive quantile regression models, particularly when dealing with
            ultra-high dimensional covariates.</p>
                    </p>
                    <br/>
                    <ul class="list-inline">
                        <li><i class="fa fa-github fa-lg"></i> <a href="https://github.com/egpivo/QuantRegGLasso">GitHub</a>
                        </li>
                        <li><a href="https://github.com/egpivo/QuantRegGLasso/actions"><img
                                src="https://github.com/egpivo/QuantRegGLasso/workflows/R-CMD-check/badge.svg"/></a></li>
                        <li><a href="https://app.codecov.io/github/egpivo/QuantRegGLasso?branch=master"><img
                                src="https://img.shields.io/codecov/c/github/egpivo/QuantRegGLasso/master.svg"/></a></li>
                    </ul>
                </div>
