---
layout: default
---

{% assign post = page %}
{% if post.tags.size > 0 %}
{% capture tags_content %}{% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
{% for post_tag in post.tags %}
{% assign tag = site.data.tags[post_tag] %}
{% if tag %}
{% capture tags_content_temp %}{{ tags_content }}<a href="/tags/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
{% assign tags_content = tags_content_temp %}
{% endif %}
{% endfor %}
{% else %}
{% assign tags_content = '' %}
{% endif %}

<article class="post">
    <header class="post-header">
        <div class="post-meta">
            <time class="post-date">{{ page.date | date: "%B %-d, %Y" }}</time>
            {% if page.author %}
            <span class="post-author">by {{ page.author }}</span>
            {% endif %}
            {% if page.meta %}
            <span class="post-meta-info">{{ page.meta }}</span>
            {% endif %}
        </div>
        
        <h1 class="post-title">{{ page.title }}</h1>
        
        {% if tags_content != '' %}
        <div class="post-tags">
            {{ tags_content }}
        </div>
        {% endif %}
    </header>

    <div class="post-content">
        {{ content }}
    </div>

    <footer class="post-footer">
        <div class="post-navigation">
            {% if page.previous.url %}
            <a href="{{ page.previous.url | prepend: site.baseurl }}" class="nav-link prev">
                <i class="fas fa-arrow-left"></i>
                <span>Previous: {{ page.previous.title | truncate: 50 }}</span>
            </a>
            {% endif %}
            
            {% if page.next.url %}
            <a href="{{ page.next.url | prepend: site.baseurl }}" class="nav-link next">
                <span>Next: {{ page.next.title | truncate: 50 }}</span>
                <i class="fas fa-arrow-right"></i>
            </a>
            {% endif %}
        </div>
        
        {% include disqus.html %}
    </footer>
</article>
