---
layout: default
---


<h3>R Package</h3>
<div class="list-group">
<div class="list-group-item">
<h4 class="list-group-item-heading"><a href="https://egpivo.github.io/autoFRK/">autoFRK</a></h4>
<p class="list-group-item-text"> The R package, developed using RcppEigen, offers automatic fixed-rank kriging for spatial data, even when data points are irregularly distributed. It leverages a set of basis functions with multi-resolution characteristics, ordered based on their resolutions.
</p>
<br />
<ul class="list-inline">
<li><i class="fa fa-github fa-lg"></i> <a href="https://github.com/egpivo/autoFRK">GitHub</a></li>
<li><a href="https://cran.rstudio.com/web/packages/autoFRK"><img src="http://www.r-pkg.org/badges/version/autoFRK" /></a></li>
<li><a href="https://cran.rstudio.com/web/packages/autoFRK"><img src="http://cranlogs.r-pkg.org/badges/autoFRK" /></a></li>
<li><a href="https://cran.rstudio.com/web/packages/autoFRK"><img src="https://cranlogs.r-pkg.org/badges/grand-total/autoFRK" /></a></li>
<li><a href="https://codecov.io/github/egpivo/autoFRK?branch=master"><img src="https://img.shields.io/codecov/c/github/egpivo/autoFRK/master.svg" /></a></li>
</ul>
</div>
<div class="list-group">
<div class="list-group-item">
<h4 class="list-group-item-heading"><a href="https://egpivo.github.io/SpatPCA/">SpatPCA</a></h4>
<p class="list-group-item-text">This R package streamlines regularized principal component analysis by: (1) identifying prominent patterns (eigenfunctions) that exhibit smoothness and localization; (2) facilitating spatial prediction (Kriging) at new locations; (3) accommodating both regularly and irregularly spaced data; and (4) utilizing the efficient alternating direction method of multipliers (ADMM) algorithm.
</p>
<br />
<ul class="list-inline">
<li><i class="fa fa-github fa-lg"></i> <a href="https://github.com/egpivo/SpatPCA">GitHub</a></li>
<li><a href="https://github.com/egpivo/SpatPCA/actions"><img src="https://github.com/egpivo/SpatPCA/workflows/R-CMD-check/badge.svg" /></a></li>
<li><a href="https://codecov.io/github/egpivo/SpatpCA?branch=master"><img src="https://img.shields.io/codecov/c/github/egpivo/SpatPCA/master.svg" /></a></li>
</ul>
</div>
<div class="list-group">
<div class="list-group-item">
<h4 class="list-group-item-heading"><a href="https://egpivo.github.io/SpatMCA/">SpatMCA</a></h4>
<p class="list-group-item-text"> This R package offers regularized maximum covariance analysis by (1) pinpointing smooth and localized patterns that reveal how one spatial process influences another; (2) accommodating both regularly and irregularly spaced data; and (3) employing the efficient alternating direction method of multipliers (ADMM) algorithm..
</p>
<br />
<ul class="list-inline">
<li><i class="fa fa-github fa-lg"></i> <a href="https://github.com/egpivo/SpatMCA">GitHub</a></li>
<li><a href="https://github.com/egpivo/SpatMCA/actions"><img src="https://github.com/egpivo/SpatMCA/workflows/R-CMD-check/badge.svg" /></a></li>
<li><a href="https://codecov.io/github/egpivo/SpatMCA?branch=master"><img src="https://img.shields.io/codecov/c/github/egpivo/SpatMCA/master.svg" /></a></li>
</ul>
</div>
<div class="list-group">
<div class="list-group-item">
<h4 class="list-group-item-heading">influenceAUC</h4>
<p class="list-group-item-text"> This package focuses on identifying influential observations from the perspective of model diagnostics in binary classification, and provides a couple of visualization tools as well.
</p>
<br />
<ul class="list-inline">
<li><i class="fa fa-github fa-lg"></i> <a href="https://github.com/BoShiangKe/influenceAUC">GitHub</a></li>
<li><a href="https://cran.rstudio.com/web/packages/influenceAUC"><img src="http://www.r-pkg.org/badges/version/influenceAUC" /></a></li>
<li><a href="https://cran.rstudio.com/web/packages/influenceAUC"><img src="http://cranlogs.r-pkg.org/badges/influenceAUC" /></a></li>
<li><a href="https://cran.rstudio.com/web/packages/influenceAUC"><img src="https://cranlogs.r-pkg.org/badges/grand-total/influenceAUC" /></a></li>
</ul>
</div>
<br />
